<div class="sw-cms-el-config-code-element">

    <sw-code-editor
        :label="$tc('code-element.elements.config.label.html')"
        :softWraps="false"
        v-model="element.config.html.value">
    </sw-code-editor>

    <sw-code-editor
        :label="$tc('code-element.elements.config.label.js')"
        :softWraps="false"
        v-model="element.config.js.value">
    </sw-code-editor>

</div>
